extends ./layout
block body
    .container.text-center(style={margin: "40px 0"})
        h1 404 Not Found
    .empty
        h4.empty-title This page not found
        p.empty-subtitle Click the button to return to admin page
        .empty-action
            a.btn.btn-primary(href='/admin') Home