//-
    Create playlist result view
extends ../layout
block body
    .columns
        .column.col-12
            include ../includes/toast
            div.mt-10.text-center
                a.btn.btn-primary(href=baseUrl) Home